{{ define "layout" }}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Teamst.One</title>

    <link href="/dist/output.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container mx-auto max-w-screen-2xl">
    <div class="drawer">
      <input id="main-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content flex flex-col items-center justify-center min-h-screen">
        {{ block "nav" . }}{{ end }}
        {{ block "main" . }}{{ end }}
      </div> 
      <div class="drawer-side">
        <label for="main-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
        {{ block "sidebar" . }}{{ end }}
      </div>
    </div>
  </div>
</body>
</html>
{{ end }}
