{{define "title"}}Home{{end}}

{{define "main"}}
<div class="grid grid-cols-3 gap-4 not-prose p-8">
    <div class="col-span-2">
        <h2 class="mb-8">Upcoming Leaves</h2>

        <ol class="list-none divide-y divide-gray-200 dark:divide-gray-700">
            <li class="flex py-6 sm:pb-4">
                <div class="flex flex-auto items-center space-x-6">
                    <img class="w-14 rounded-full" src="http://placekitten.com/200/200" alt="Neil image">
                    <div class="flex-1 min-w-0">
                        <h3 class="text-base text-gray-900 truncate dark:text-white mb-5">
                            Neil Sims
                        </h3>
                        <dl class="flex flex-row mt-1 text-sm divide-x divide-secondary">
                            <div class="inline-flex items-center">
                                <dt>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                        aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-2">
                                        <path fill-rule="evenodd"
                                            d="M5.75 2a.75.75 0 01.75.75V4h7V2.75a.75.75 0 011.5 0V4h.25A2.75 2.75 0 0118 6.75v8.5A2.75 2.75 0 0115.25 18H4.75A2.75 2.75 0 012 15.25v-8.5A2.75 2.75 0 014.75 4H5V2.75A.75.75 0 015.75 2zm-1 5.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h10.5c.69 0 1.25-.56 1.25-1.25v-6.5c0-.69-.56-1.25-1.25-1.25H4.75z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </dt>
                                <dd>
                                    <time datetime="2022-01-10T17:00">Jan 11th – Jan 16th</time>
                                </dd>
                            </div>
                            <div class="inline-flex items-center ml-4 pl-4">
                                <dt>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor"
                                        class="flex-shrink-0 inline w-5 h-5 mr-2">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                    </svg>
                                </dt>
                                <dd>5 Days</dd>
                            </div>
                        </dl>
                    </div>
                    <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">

                        <details class="dropdown dropdown-left">
                            <summary class="m-1 btn btn-xs btn-link">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                    aria-hidden="true" class="w-5 h-5">
                                    <path
                                        d="M3 10a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM8.5 10a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM15.5 8.5a1.5 1.5 0 100 3 1.5 1.5 0 000-3z">
                                    </path>
                                </svg>
                            </summary>
                            <div
                                class="shadow menu dropdown-content z-[100] card card-compact w-96 bg-primary rounded-box">
                                <div class="card-body">
                                    <h3 class="card-title">Leave approval</h3>
                                    <p class="prose text-primary-content">You can approve or reject requested leave.</p>
                                    <div class="card-actions justify-end">
                                        <button class="btn btn-circle btn-outline border-2" hx-post="/leaves/approve"
                                            hx-target="#tracker-container" hx-swap="innerHTML" hx-vals='{"id": 0}'>
                                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                                                <path stroke="currentColor" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="2"
                                                    d="M1 5.917 5.724 10.5 15 1.5" />
                                            </svg>
                                        </button>
                                        <button class="btn btn-circle btn-outline border-2" hx-post="/leaves/reject"
                                            hx-target="#tracker-container" hx-swap="innerHTML" hx-vals='{"id": 0}'>
                                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                                xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="m9.414 8 5.293-5.293a1 1 0 1 0-1.414-1.414L8 6.586 2.707 1.293a1 1 0 0 0-1.414 1.414L6.586 8l-5.293 5.293a1 1 0 1 0 1.414 1.414L8 9.414l5.293 5.293a1 1 0 0 0 1.414-1.414L9.414 8Z" />
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </details>
                    </div>
                </div>
            </li>
            <li class="flex py-6 sm:pb-4">
                <div class="flex flex-auto items-center space-x-6">
                    <img class="w-14 rounded-full" src="http://placekitten.com/200/200" alt="Neil image">
                    <div class="flex-1 min-w-0">
                        <h3 class="text-base text-gray-900 truncate dark:text-white mb-5">
                            Neil Sims
                        </h3>
                        <dl class="flex flex-row mt-1 text-sm divide-x divide-secondary">
                            <div class="inline-flex items-center">
                                <dt>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                        aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-2">
                                        <path fill-rule="evenodd"
                                            d="M5.75 2a.75.75 0 01.75.75V4h7V2.75a.75.75 0 011.5 0V4h.25A2.75 2.75 0 0118 6.75v8.5A2.75 2.75 0 0115.25 18H4.75A2.75 2.75 0 012 15.25v-8.5A2.75 2.75 0 014.75 4H5V2.75A.75.75 0 015.75 2zm-1 5.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h10.5c.69 0 1.25-.56 1.25-1.25v-6.5c0-.69-.56-1.25-1.25-1.25H4.75z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </dt>
                                <dd>
                                    <time datetime="2022-01-10T17:00">Jan 11th – Jan 16th</time>
                                </dd>
                            </div>
                            <div class="inline-flex items-center ml-4 pl-4">
                                <dt>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor"
                                        class="flex-shrink-0 inline w-5 h-5 mr-2">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                    </svg>
                                </dt>
                                <dd>5 Days</dd>
                            </div>
                        </dl>
                    </div>
                    <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                        <details class="dropdown dropdown-left">
                            <summary class="m-1 btn btn-xs btn-link">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                    aria-hidden="true" class="w-5 h-5">
                                    <path
                                        d="M3 10a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM8.5 10a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM15.5 8.5a1.5 1.5 0 100 3 1.5 1.5 0 000-3z">
                                    </path>
                                </svg>
                            </summary>
                            <div
                                class="shadow menu dropdown-content z-[100] card card-compact w-96 bg-primary rounded-box">
                                <div class="card-body">
                                    <h3 class="card-title">Leave approval</h3>
                                    <p class="prose text-primary-content">You can approve or reject requested leave.</p>
                                    <div class="card-actions justify-end">
                                        <button class="btn btn-circle btn-outline border-2" hx-post="/leaves/approve"
                                            hx-target="#tracker-container" hx-swap="innerHTML" hx-vals='{"id": 0}'>
                                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                                                <path stroke="currentColor" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="2"
                                                    d="M1 5.917 5.724 10.5 15 1.5" />
                                            </svg>
                                        </button>
                                        <button class="btn btn-circle btn-outline border-2" hx-post="/leaves/reject"
                                            hx-target="#tracker-container" hx-swap="innerHTML" hx-vals='{"id": 0}'>
                                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                                xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="m9.414 8 5.293-5.293a1 1 0 1 0-1.414-1.414L8 6.586 2.707 1.293a1 1 0 0 0-1.414 1.414L6.586 8l-5.293 5.293a1 1 0 1 0 1.414 1.414L8 9.414l5.293 5.293a1 1 0 0 0 1.414-1.414L9.414 8Z" />
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </details>
                    </div>
                </div>
            </li>
        </ol>

    </div>
    <div>
        <h2>Calendar</h2>
        <div id="calendar" hx-get="/fragments/calendar" hx-trigger="revealed" hx-swap="innerHTML"></div>
    </div>
</div>
{{ end }}
