{{ define "main" }}
<main class="flex-1 overflow-y-auto md:pt-4 pt-4 px-6 bg-base-200 w-full">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <div class="card w-full p-6 bg-base-100 shadow-xl mt-2">
            <div class="text-xl font-semibold ">Slack</div>
            <div class="divider mt-2"></div>
            <div class="h-full w-full pb-6 bg-base-100">
                <p class="flex"><img alt="icon" src="https://cdn-icons-png.flaticon.com/512/2111/2111615.png" class="w-12 h-12 inline-block mr-4">Slack is an instant messaging program designed by Slack Technologies and owned by Salesforce.</p>
                <div class="mt-6 text-right"><input type="checkbox" class="toggle toggle-success toggle-lg" checked=""></div>
            </div>
        </div>
        <div class="card w-full p-6 bg-base-100 shadow-xl mt-2">
            <div class="text-xl font-semibold ">Facebook</div>
            <div class="divider mt-2"></div>
            <div class="h-full w-full pb-6 bg-base-100">
                <p class="flex"><img alt="icon" src="https://cdn-icons-png.flaticon.com/512/124/124010.png" class="w-12 h-12 inline-block mr-4">Meta Platforms, Inc., doing business as Meta and formerly named Facebook, Inc., and TheFacebook.</p>
                <div class="mt-6 text-right"><input type="checkbox" class="toggle toggle-success toggle-lg"></div>
            </div>
        </div>
        <div class="card w-full p-6 bg-base-100 shadow-xl mt-2">
            <div class="text-xl font-semibold ">Linkedin</div>
            <div class="divider mt-2"></div>
            <div class="h-full w-full pb-6 bg-base-100">
                <p class="flex"><img alt="icon" src="https://cdn-icons-png.flaticon.com/512/174/174857.png" class="w-12 h-12 inline-block mr-4">LinkedIn is a business and employment-focused social media platform that works through websites and mobile apps.</p>
                <div class="mt-6 text-right"><input type="checkbox" class="toggle toggle-success toggle-lg" checked=""></div>
            </div>
        </div>
        <div class="card w-full p-6 bg-base-100 shadow-xl mt-2">
            <div class="text-xl font-semibold ">Google Ads</div>
            <div class="divider mt-2"></div>
            <div class="h-full w-full pb-6 bg-base-100">
                <p class="flex"><img alt="icon" src="https://cdn-icons-png.flaticon.com/512/2301/2301145.png" class="w-12 h-12 inline-block mr-4">Google Ads is an online advertising platform developed by Google, where advertisers bid to display brief advertisements, service offerings</p>
                <div class="mt-6 text-right"><input type="checkbox" class="toggle toggle-success toggle-lg"></div>
            </div>
        </div>
        <div class="card w-full p-6 bg-base-100 shadow-xl mt-2">
            <div class="text-xl font-semibold ">Gmail</div>
            <div class="divider mt-2"></div>
            <div class="h-full w-full pb-6 bg-base-100">
                <p class="flex"><img alt="icon" src="https://cdn-icons-png.flaticon.com/512/5968/5968534.png" class="w-12 h-12 inline-block mr-4">Gmail is a free email service provided by Google. As of 2019, it had 1.5 billion active users worldwide.</p>
                <div class="mt-6 text-right"><input type="checkbox" class="toggle toggle-success toggle-lg"></div>
            </div>
        </div>
        <div class="card w-full p-6 bg-base-100 shadow-xl mt-2">
            <div class="text-xl font-semibold ">Salesforce</div>
            <div class="divider mt-2"></div>
            <div class="h-full w-full pb-6 bg-base-100">
                <p class="flex"><img alt="icon" src="https://cdn-icons-png.flaticon.com/512/5968/5968880.png" class="w-12 h-12 inline-block mr-4">It provides customer relationship management software and applications focused on sales, customer service, marketing automation.</p>
                <div class="mt-6 text-right"><input type="checkbox" class="toggle toggle-success toggle-lg"></div>
            </div>
        </div>
        <div class="card w-full p-6 bg-base-100 shadow-xl mt-2">
            <div class="text-xl font-semibold ">Hubspot</div>
            <div class="divider mt-2"></div>
            <div class="h-full w-full pb-6 bg-base-100">
                <p class="flex"><img alt="icon" src="https://cdn-icons-png.flaticon.com/512/5968/5968872.png" class="w-12 h-12 inline-block mr-4">American developer and marketer of software products for inbound marketing, sales, and customer service.</p>
                <div class="mt-6 text-right"><input type="checkbox" class="toggle toggle-success toggle-lg"></div>
            </div>
        </div>
    </div>
</main>
{{ end }}