<div class="modal-box">
    <form method="dialog">
        <button class="btn btn-sm btn-circle absolute right-2 top-2">✕</button>
    </form>
    <h3 class="font-semibold text-2xl pb-6 text-center">Confirmation</h3>
    <p class=" text-xl mt-8 text-center">Are you sure you want to remove this member from the team?</p>
    <div class="modal-action mt-12">
        <form method="dialog">
            <button class="btn btn-outline">Cancel</button>
            <button class="btn btn-primary w-36"
                hx-delete="/teams/delete-member?team_id={{ .TeamID }}&user_id={{ .UserID }}"
                hx-swap="none"
                onclick="this.closest('dialog').close()">Yes</button>
        </form>
    </div>
</div>
