<table class="table w-full">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email Id</th>
            <th>Location</th>
            <th>Amount</th>
            <th>Transaction Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="flex items-center space-x-3">
                    <div class="avatar">
                        <div class="mask mask-circle w-12 h-12"><img src="https://reqres.in/img/faces/1-image.jpg" alt="Avatar"></div>
                    </div>
                    <div>
                        <div class="font-bold">Alex</div>
                    </div>
                </div>
            </td>
            <td>alex@dashwind.com</td>
            <td>Paris</td>
            <td>$100</td>
            <td>2 Mar</td>
        </tr>
        <tr>
            <td>
                <div class="flex items-center space-x-3">
                    <div class="avatar">
                        <div class="mask mask-circle w-12 h-12"><img src="https://reqres.in/img/faces/2-image.jpg" alt="Avatar"></div>
                    </div>
                    <div>
                        <div class="font-bold">Ereena</div>
                    </div>
                </div>
            </td>
            <td>ereena@dashwind.com</td>
            <td>London</td>
            <td>$190</td>
            <td>1 Mar</td>
        </tr>
        <tr>
            <td>
                <div class="flex items-center space-x-3">
                    <div class="avatar">
                        <div class="mask mask-circle w-12 h-12"><img src="https://reqres.in/img/faces/3-image.jpg" alt="Avatar"></div>
                    </div>
                    <div>
                        <div class="font-bold">John</div>
                    </div>
                </div>
            </td>
            <td>jhon@dashwind.com</td>
            <td>Canada</td>
            <td>$112</td>
            <td>1 Mar</td>
        </tr>
        <tr>
            <td>
                <div class="flex items-center space-x-3">
                    <div class="avatar">
                        <div class="mask mask-circle w-12 h-12"><img src="https://reqres.in/img/faces/4-image.jpg" alt="Avatar"></div>
                    </div>
                    <div>
                        <div class="font-bold">Matrix</div>
                    </div>
                </div>
            </td>
            <td>matrix@dashwind.com</td>
            <td>Peru</td>
            <td>$111</td>
            <td>1 Mar</td>
        </tr>
        <tr>
            <td>
                <div class="flex items-center space-x-3">
                    <div class="avatar">
                        <div class="mask mask-circle w-12 h-12"><img src="https://reqres.in/img/faces/5-image.jpg" alt="Avatar"></div>
                    </div>
                    <div>
                        <div class="font-bold">Virat</div>
                    </div>
                </div>
            </td>
            <td>virat@dashwind.com</td>
            <td>London</td>
            <td>$190</td>
            <td>29 Feb</td>
        </tr>
        <tr>
            <td>
                <div class="flex items-center space-x-3">
                    <div class="avatar">
                        <div class="mask mask-circle w-12 h-12"><img src="https://reqres.in/img/faces/6-image.jpg" alt="Avatar"></div>
                    </div>
                    <div>
                        <div class="font-bold">Miya</div>
                    </div>
                </div>
            </td>
            <td>miya@dashwind.com</td>
            <td>Paris</td>
            <td>$230</td>
            <td>29 Feb</td>
        </tr>
        <tr>
            <td>
                <div class="flex items-center space-x-3">
                    <div class="avatar">
                        <div class="mask mask-circle w-12 h-12"><img src="https://reqres.in/img/faces/3-image.jpg" alt="Avatar"></div>
                    </div>
                    <div>
                        <div class="font-bold">Virat</div>
                    </div>
                </div>
            </td>
            <td>virat@dashwind.com</td>
            <td>Canada</td>
            <td>$331</td>
            <td>29 Feb</td>
        </tr>
        <tr>
            <td>
                <div class="flex items-center space-x-3">
                    <div class="avatar">
                        <div class="mask mask-circle w-12 h-12"><img src="https://reqres.in/img/faces/1-image.jpg" alt="Avatar"></div>
                    </div>
                    <div>
                        <div class="font-bold">Matrix</div>
                    </div>
                </div>
            </td>
            <td>matrix@dashwind.com</td>
            <td>London</td>
            <td>$581</td>
            <td>29 Feb</td>
        </tr>
        <tr>
            <td>
                <div class="flex items-center space-x-3">
                    <div class="avatar">
                        <div class="mask mask-circle w-12 h-12"><img src="https://reqres.in/img/faces/3-image.jpg" alt="Avatar"></div>
                    </div>
                    <div>
                        <div class="font-bold">Ereena</div>
                    </div>
                </div>
            </td>
            <td>ereena@dashwind.com</td>
            <td>Tokyo</td>
            <td>$151</td>
            <td>29 Feb</td>
        </tr>
        <tr>
            <td>
                <div class="flex items-center space-x-3">
                    <div class="avatar">
                        <div class="mask mask-circle w-12 h-12"><img src="https://reqres.in/img/faces/2-image.jpg" alt="Avatar"></div>
                    </div>
                    <div>
                        <div class="font-bold">John</div>
                    </div>
                </div>
            </td>
            <td>jhon@dashwind.com</td>
            <td>Paris</td>
            <td>$91</td>
            <td>29 Feb</td>
        </tr>
        <tr>
            <td>
                <div class="flex items-center space-x-3">
                    <div class="avatar">
                        <div class="mask mask-circle w-12 h-12"><img src="https://reqres.in/img/faces/3-image.jpg" alt="Avatar"></div>
                    </div>
                    <div>
                        <div class="font-bold">Virat</div>
                    </div>
                </div>
            </td>
            <td>virat@dashwind.com</td>
            <td>Canada</td>
            <td>$161</td>
            <td>28 Feb</td>
        </tr>
        <tr>
            <td>
                <div class="flex items-center space-x-3">
                    <div class="avatar">
                        <div class="mask mask-circle w-12 h-12"><img src="https://reqres.in/img/faces/4-image.jpg" alt="Avatar"></div>
                    </div>
                    <div>
                        <div class="font-bold">Matrix</div>
                    </div>
                </div>
            </td>
            <td>matrix@dashwind.com</td>
            <td>US</td>
            <td>$121</td>
            <td>28 Feb</td>
        </tr>
        <tr>
            <td>
                <div class="flex items-center space-x-3">
                    <div class="avatar">
                        <div class="mask mask-circle w-12 h-12"><img src="https://reqres.in/img/faces/6-image.jpg" alt="Avatar"></div>
                    </div>
                    <div>
                        <div class="font-bold">Ereena</div>
                    </div>
                </div>
            </td>
            <td>jhon@dashwind.com</td>
            <td>Tokyo</td>
            <td>$713</td>
            <td>28 Feb</td>
        </tr>
        <tr>
            <td>
                <div class="flex items-center space-x-3">
                    <div class="avatar">
                        <div class="mask mask-circle w-12 h-12"><img src="https://reqres.in/img/faces/2-image.jpg" alt="Avatar"></div>
                    </div>
                    <div>
                        <div class="font-bold">John</div>
                    </div>
                </div>
            </td>
            <td>ereena@dashwind.com</td>
            <td>London</td>
            <td>$217</td>
            <td>28 Feb</td>
        </tr>
        <tr>
            <td>
                <div class="flex items-center space-x-3">
                    <div class="avatar">
                        <div class="mask mask-circle w-12 h-12"><img src="https://reqres.in/img/faces/3-image.jpg" alt="Avatar"></div>
                    </div>
                    <div>
                        <div class="font-bold">Virat</div>
                    </div>
                </div>
            </td>
            <td>virat@dashwind.com</td>
            <td>Paris</td>
            <td>$117</td>
            <td>28 Feb</td>
        </tr>
        <tr>
            <td>
                <div class="flex items-center space-x-3">
                    <div class="avatar">
                        <div class="mask mask-circle w-12 h-12"><img src="https://reqres.in/img/faces/7-image.jpg" alt="Avatar"></div>
                    </div>
                    <div>
                        <div class="font-bold">Miya</div>
                    </div>
                </div>
            </td>
            <td>jhon@dashwind.com</td>
            <td>Canada</td>
            <td>$612</td>
            <td>28 Feb</td>
        </tr>
        <tr>
            <td>
                <div class="flex items-center space-x-3">
                    <div class="avatar">
                        <div class="mask mask-circle w-12 h-12"><img src="https://reqres.in/img/faces/3-image.jpg" alt="Avatar"></div>
                    </div>
                    <div>
                        <div class="font-bold">Matrix</div>
                    </div>
                </div>
            </td>
            <td>matrix@dashwind.com</td>
            <td>London</td>
            <td>$631</td>
            <td>28 Feb</td>
        </tr>
        <tr>
            <td>
                <div class="flex items-center space-x-3">
                    <div class="avatar">
                        <div class="mask mask-circle w-12 h-12"><img src="https://reqres.in/img/faces/2-image.jpg" alt="Avatar"></div>
                    </div>
                    <div>
                        <div class="font-bold">Virat</div>
                    </div>
                </div>
            </td>
            <td>ereena@dashwind.com</td>
            <td>Tokyo</td>
            <td>$151</td>
            <td>28 Feb</td>
        </tr>
        <tr>
            <td>
                <div class="flex items-center space-x-3">
                    <div class="avatar">
                        <div class="mask mask-circle w-12 h-12"><img src="https://reqres.in/img/faces/3-image.jpg" alt="Avatar"></div>
                    </div>
                    <div>
                        <div class="font-bold">Ereena</div>
                    </div>
                </div>
            </td>
            <td>virat@dashwind.com</td>
            <td>Paris</td>
            <td>$617</td>
            <td>28 Feb</td>
        </tr>
    </tbody>
</table>