<table class="table w-full">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Current Team</th>
            <th>Started</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{ range .Employees }}
        <tr>
            <td>
                <div class="flex items-center space-x-3">
                    <div class="avatar">
                        <div class="mask mask-squircle w-12 h-12"><img src="https://reqres.in/img/faces/7-image.jpg" alt="Avatar"></div>
                    </div>
                    <div>
                        <div class="font-bold">{{ .Name | firstName }}</div>
                        <div class="text-sm opacity-50">{{ .Name | lastName }}</div>
                    </div>
                </div>
            </td>
            <td>{{ .Email }}</td>
            <td>
                <div class="badge">Not assigned</div>
            </td>
            <td>{{ .Started | humanDate }}</td>
            <td>
                <button class="btn btn-square btn-ghost">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
                    </svg>                      
                </button>
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>