<h3>Report for {{ .Nav.Now.Month }} {{ .Nav.Now.Year }}</h3>
<div class="grid grid-flow-col gap-4">
    <div class="join">
        <a class="join-item btn" aria-label="Previous" hx-trigger="click" hx-target="#tracker-container"
            hx-swap="innerHTML" hx-get="/tracker?year={{ .Nav.Prev.Year }}&month={{ .Nav.Prev.MonthNum }}">«</a>
        <button class="join-item btn w-48">{{ .Nav.Now.Month }}</button>
        <a class="join-item btn" aria-label="Next" hx-trigger="click" hx-target="#tracker-container" hx-swap="innerHTML"
            hx-get="/tracker?year={{ .Nav.Next.Year }}&month={{ .Nav.Next.MonthNum }}">»</a>
    </div>
</div>

<!-- End pagination block -->
<div class="overflow-scroll">
    <table class="table-auto table-xs table-pin-cols">
        <thead>
            <th>Username</th>
            {{ range .Days }}
            <th>{{ .Format "02.01" }}</th>
            {{ end }}
        </thead>
        <tbody>
            {{ range $user := .Users }}
            <tr>
                <td class="min-w-fit whitespace-nowrap">{{ $user.Name }}</td>
                {{ range $day := $.Days }}

                {{ $day := $user.Calendar.Get $day }}

                {{ $dayTypeClass := "bg-stone" }}
                {{ if eq $day.Type "sick" }}
                {{ $dayTypeClass = "bg-warning" }}
                {{ else if eq $day.Type "dayoff" }}
                {{ $dayTypeClass = "bg-primary" }}
                {{ else if eq $day.Type "vacation" }}
                {{ $dayTypeClass = "bg-accent" }}
                {{ else if eq $day.Type "weekend" }}
                {{ $dayTypeClass = "bg-neutral" }}
                {{ else if eq $day.Type "bankholiday" }}
                {{ $dayTypeClass = "bg-secondary" }}
                {{ else if eq $day.Type "workday" }}
                {{ $dayTypeClass = "bg-stone" }}
                {{ end }}

                <td class="{{ $dayTypeClass }} bg-gradient-to-d border border-zinc-700"></td>
                {{ end }}
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>
