<div class="flex justify-between mb-5 mt-5">
    <div>
        <div class="join">
            <a class="join-item btn" aria-label="Previous" hx-trigger="click" hx-target="#tracker-container"
                hx-swap="innerHTML" hx-get="/tracker?year={{ .Nav.Prev.Year }}&month={{ .Nav.Prev.MonthNum }}">«</a>
            <button class="join-item btn w-48" hx-target="#tracker-container" hx-swap="innerHTML"
                hx-trigger="reloadTracker from:body" 
                hx-get="/tracker?year={{ .Nav.Now.Year }}&month={{ .Nav.Now.MonthNum }}">{{ .Nav.Now.Month }}</button>
            <a class="join-item btn" aria-label="Next" hx-trigger="click" hx-target="#tracker-container"
                hx-swap="innerHTML" hx-get="/tracker?year={{ .Nav.Next.Year }}&month={{ .Nav.Next.MonthNum }}">»</a>
        </div>
        <div class="mt-4">
            <div class="badge">Working</div>
            <div class="badge badge-neutral">Weekend</div>
            <div class="badge badge-secondary">Bank Holiday</div>
            <div class="badge badge-primary">Day off</div>
            <div class="badge badge-accent">Vacation</div>
            <div class="badge badge-warning">Sick Day</div>
        </div>
    </div>

    <div class="stats shadow bg-base-200">
        <div class="stat">
            <div class="stat-figure text-success">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    class="inline-block w-8 h-8 stroke-current">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M13 10V3L4 14h7v7l9-11h-7z">
                    </path>
                </svg>
            </div>
            <div class="stat-title text-success">Workforce Power</div>
            <div class="stat-value text-success">{{ .WorkforceStat.WorkforcePower }}%</div>
            <div class="stat-desc">{{ .WorkforceStat.AbsentEmployees }} employees are time-off</div>
        </div>
        <div class="stat">
            <div class="stat-figure text-info">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12c0-1.232-.046-2.453-.138-3.662a4.006 4.006 0 00-3.7-3.7 48.678 48.678 0 00-7.324 0 4.006 4.006 0 00-3.7 3.7c-.017.22-.032.441-.046.662M19.5 12l3-3m-3 3l-3-3m-12 3c0 1.232.046 2.453.138 3.662a4.006 4.006 0 003.7 3.7 48.656 48.656 0 007.324 0 4.006 4.006 0 003.7-3.7c.017-.22.032-.441.046-.662M4.5 12l3 3m-3-3l-3 3" />
                </svg>
            </div>
            <div class="stat-title text-info">Pending Leaves</div>
            <div class="stat-value text-info">{{ .LeavesStat.Pending }}</div>
            <div class="stat-desc">Out of {{ .LeavesStat.AllLeaves }} leaves</div>
        </div>
    </div>
</div>

<div class="overflow-x-auto w-full">
    <table class="table table-xs table-pin-rows table-pin-cols mb-8">
        <thead>
            <tr>
                <th>Employee</th>
                {{ range .Days }}
                <td>{{ .Format "02.01" }}</td>
                {{ end }}
            </tr>
        </thead>
        <tbody>
            {{ range $employee := .Employees }}
            <tr class="hover">
                <th class="min-w-fit whitespace-nowrap">{{ $employee.Name }}</th>
                {{ range $day := $.Days }}

                {{ $day := $employee.Calendar.Get $day }}

                {{ $dayTypeClass := "bg-base" }}
                {{ if not $day.IsApproved }}
                {{ $dayTypeClass = "bg-info" }}
                {{ else if eq $day.Type "sick" }}
                {{ $dayTypeClass = "bg-warning" }}
                {{ else if eq $day.Type "dayoff" }}
                {{ $dayTypeClass = "bg-primary" }}
                {{ else if eq $day.Type "vacation" }}
                {{ $dayTypeClass = "bg-accent" }}
                {{ else if eq $day.Type "weekend" }}
                {{ $dayTypeClass = "bg-neutral" }}
                {{ else if eq $day.Type "bankholiday" }}
                {{ $dayTypeClass = "bg-secondary" }}
                {{ else if eq $day.Type "workday" }}
                {{ $dayTypeClass = "bg-base" }}
                {{ end }}

                <td class="{{ $dayTypeClass }} border border-zinc-700">
                    {{ if not $day.IsApproved }}
                    <details class="dropdown dropdown-left flex h-full cursor-pointer">
                        <summary class="block flex-grow">&nbsp;</summary>
                        <div class="shadow menu dropdown-content z-[100] card card-compact w-96 bg-primary rounded-box">
                            <div class="card-body">
                                <div class="card-actions justify-between">
                                <h2 class="card-title">Leave approval</h2>
                                    <button class="btn btn-square btn-ghost btn-sm" onclick="this.closest('.dropdown').removeAttribute('open');">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
                                    </button>
                                </div>
                                <p class="prose text-primary-content">You can approve or reject requested leave.</p>
                                <div class="card-actions justify-end">
                                    <button class="btn btn-circle btn-outline border-2" hx-post="/leaves/approve"
                                        hx-vals='{"id": {{ $day.LeaveID }}}'>
                                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5" />
                                        </svg>
                                    </button>
                                    <button class="btn btn-circle btn-outline border-2" hx-post="/leaves/reject"
                                        hx-vals='{"id": {{ $day.LeaveID }}}'>
                                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                                            <path
                                                d="m9.414 8 5.293-5.293a1 1 0 1 0-1.414-1.414L8 6.586 2.707 1.293a1 1 0 0 0-1.414 1.414L6.586 8l-5.293 5.293a1 1 0 1 0 1.414 1.414L8 9.414l5.293 5.293a1 1 0 0 0 1.414-1.414L9.414 8Z" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </details>
                    {{ end }}
                </td>
                {{ end }}
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>
